@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

header{
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.nav-dropdown{
    background-color: rgba(0, 0, 0, 0.3);
}
.link{
    color:cornflowerblue;
    font-size: 2em;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
#main-heading{
    font-family: 'Bangers', cursive;
}
#home{
    height: 55em;
    background: #136a8a;
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    background: linear-gradient(to right, #267871, #136a8a);
}
.para-content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    font-size: 1.5em;
}
.para-content a{
    font-size: 1em;
}
.content-heading{
    font-size: 2.25em;
    opacity: 0.7;
}
#about{
    height: 50rem;
}
#videos{
    height: 53em;
}
#gallery{
    height: 50em;
    z-index: 0;
}
#about{
    background: #348F50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#videos{
    background: #0BE5AE;
background: -webkit-linear-gradient(top left, #0BE5AE, #065F9C);
background: -moz-linear-gradient(top left, #0BE5AE, #065F9C);
background: linear-gradient(to bottom right, #0BE5AE, #065F9C);
}

/*
.navbar-link{
    display: block;
    color: #121212;
    font-family: 'Poppins', sans-serif;
}
nav{
    position: relative;
    box-shadow: 0 6px 10px rgba(179, 179, 179, .5);
}
.navslide{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #3641b7;
    transition: 0.4s;
}
*/
